:root {
    --lightgray: rgb(241, 245, 243);
    --white: rgb(255, 255, 255);
    --darkgray: rgb(88, 88, 88);
    --bodyFont: "Helvetica", "Arial", sans-serif;
    --focus: blue;
    --valid: rgb(21, 187, 21);
    --invalid: rgb(235, 35, 35);
    --button: #75915d;
}

@font-face {
    font-family: 'bat-knight';
    src: url('fonts/batknight-regular-webfont.woff2') format('woff2'),
         url('fonts/batknight-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    font-family: var(--bodyFont);
    background-color: var(--lightgray);
}

/* HEADER */
.header {
    height: 300px;
    background: url(images/background-image.jpg) center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100%;
    background-color: rgba(223,234,230,0.4);
    padding: 20px 0;
}

.logo h1{
    font-family: "bat-knight", var(--bodyFont);
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: .3rem;
    line-height: 1;
}

.logo p {
    font-family: var(--bodyFont);
    font-size: 1.6rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
}

/* MAIN */
.main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.main-text {
    font-size: 2.2rem;
    font-weight: bold;
    padding: 0 50px;
}
.main-text p:last-child {
    margin-top: 20px;
}

/* FORM */
.sign-form {
    margin-top: 50px;
    background-color: var(--white);
    box-shadow:0px 5px 10px 1px rgba(228,229,231,255);
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-msg {
    font-size: 1.2rem;
    color: var(--darkgray);
    margin-bottom: 20px;
}

.form-row p{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.sign-form label {
    color: var(--darkgray);
    font-weight: bold;
}
.sign-form input {
    min-width: 250px;
    height: 40px;
    font-family: var(--bodyFont);
    font-size: 1.6rem;
    padding: 0px 5px;
    border: 1px solid var(--darkgray);
    border-radius: 3px;
    outline: none;
}

.sign-form input:valid {
    outline: 1px solid var(--valid);
}

.sign-form input:invalid {
    outline: 1px solid var(--invalid);
}

@supports selector(:user-valid) {
    .sign-form input:invalid {
        outline: initial;
    }

    .sign-form input:valid {
        outline:initial;
    }

    .sign-form input:focus:invalid {
        outline: 1px solid var(--focus);
        box-shadow: 2px 1px 3px 1px rgb(185, 185, 185);
    }

    .sign-form input:user-valid {
        outline: 1px solid var(--valid);
    }

    .sign-form input:user-invalid {
        outline: 1px solid var(--invalid);
    }
}

/* BUTTON */
button {
    align-self: center;
    appearance: none;
    margin-top: 30px;
    font-size: 2.2rem;
    font-weight: bold;
    background-color: var(--button);
    color: var(--lightgray);
    border: 1px solid var(--darkgray);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}
button:active {
    opacity: 1;
    transform: scale(1.1);
    transition: ease-in-out;
}

.login-msg {
    align-self: center;
    font-size: 1.8rem;
    margin: 10px 0 50px 0;
}


@media (min-width: 900px) {
    body {
        display: flex;
        flex-direction: row;
    }

    .header {
        flex: 1;
        min-height: 100vh;
        width: 40vw;
    }
    .main {
        flex: 2;
        display: block;
    }
    .main-text {
        max-width: 900px;
        margin-top: 100px;
    }
    .sign-form {
        align-items: flex-start;
    }

    .form-row {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    button,
    .login-msg{
        margin-left: 50px;
    }
}
