@font-face {
    font-family: 'bat_knight';
    src: url('fonts/batknight-regular-webfont.woff2') format('woff2'),
         url('fonts/batknight-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    font-family: "Helvetica", "Arial", sans-serif;
    min-height: 100vh;
    display: flex;
}

/* SIDEBAR */
.sidebar {
    background-image: url(images/background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
}

.logo {
    background-color: rgba(212,218,218,0.3);
    margin-top: 180px;
    padding: 10px 50px;
}

.logo p {
    font-family: 'bat_knight';
    font-size: 14rem;
    text-align: center;
}

/* MAIN SECTION */
.main-section {
    background-color: rgba(249,250,252,255);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-section-text {
    max-width: 70%;
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 60px;
}

/* FORM */
.form-container {
    background-color: rgba(255,255,255,255);
    margin: 60px 0 30px 0;
    padding: 30px 60px;
    box-shadow:0px 5px 10px 1px rgba(228,229,231,255);
    color: #3a3d41;
}

.form-container h2 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.form-row {
    padding: 10px 0;
    display: flex;
    gap: 150px;
}

.row {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

/* INPUTS */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    border: 1px solid rgb(201, 197, 197);
    border-radius: 3px;
    height: 35px;
    font-size: 1.6rem;
    padding: 5px;
}